
.formValue {
	position: absolute;
	float: left;
	margin-top: 0px;
	height:30px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	padding-top: 8px;
	color: blue;
}
*::placeholder {
    text-shadow: 0px 0px 1px #000;
}


input {
    text-shadow: 0px 0px 0px #000;
    -webkit-text-fill-color: transparent;
}



.formField {

	margin-bottom: 20px;
	margin-left: 20px;
	max-width:100px;
	float: left;
	clear: left;
	font-family: Alegreya Sans SC;
}

#outForm {
	width: 50%;
	max-width: 400px;
	height: 500px;
	background: white;
	
	/*margin-left: 30%;*/
	margin-left: auto;
	margin-right: auto;
	
	
	padding: 5px;
	border-top: 1px dotted gray;
	border-bottom: 1px dotted gray;
	/*font-family: Alegreya Sans SC;*/
	box-shadow: inset 0 -1px 0 0 #000000, inset 0 1px 0 0 #000000, 0 3px 0 0 #000000, 0 -5px 0 0 #000000;
}

svg {
	max-width: 230px;
	width: 30vw;
}
#spotlight {
	visibility: hidden;
	position: absolute;
	padding:0px;
	margin:0px;
	top: 0px;
	left:0px;
	width: 100%;
	height: 100%;
	opacity: 0.95;
	background-color: #000000;
}

.blueButton {
	cursor: pointer;
	display: inline-block;
	height: 26px;
	padding-right: 2px;
	padding-left: 2px;
	line-height: 1px;
	background: #eeeeee;
	border: 1px solid gray;
	box-shadow: inset 0 -2px 0 0 #046ca3, inset 0 2px 0 0 #046ca3, 0 2px 0 0 #046ca3, 0 -2px 0 0 #046ca3;
}
#confirmButton {
	margin-right: 20px;
	float: left;
}
#cancelButton {
	float: left;
}

.confirmField {
	color: #ee0;
	margin-bottom: 100px;
}
#popupConfirm {
	max-height: 700px;
	overflow: auto;
}
#confirm {
	
	height: 100px;
	width: 500px;
	overflow: auto;
	visibility: hidden;
	position: absolute;
	display:inline-table;
	top:50px;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	background: #ffffff;

}
#form {
	margin-left:auto;
	margin-right:auto;
	width: 800px;
	opacity: 0.0;
	animation: fadeOut 30s forwards
}
#form:hover {
	animation: fadeIn 1s forwards
}

@keyframes fadeIn {
	from {opacity: 0.5;}
	to {opacity: 1.0;}
}
@keyframes fadeOut {
	0% {opacity: 1.0;}
	10% {opacity: 0.5; }
	95% {opacity: 0.5; }
	100% {opacity: 0.0; }
}

body {
	background: url('colorfulBeach.jpg');
}

/*
#fieldCol {
	font-family: Alegreya Sans SC;
	font-size: 22px;
	float:left;
	width: 200px;
	/*border-bottom: 1px solid red;*/
/*}
#valueCol {
	float:left;
	/*margin-top:-20px;*/
	/*border: 1px dotted blue;*/
/*}*/

#logoV {
	width: 20px;
	height: 20px;
	float: left;
	margin-top:2px;
}
#title {
	width: 410px;
	font-family: Alegreya Sans SC;
	margin-left: auto;
	margin-right: auto;
}


.errorMessage {
	font-size: 12px;
	opacity: 0.0;
	color: #000;
	font-family: Roman;
	width: 150px;
	display: table;
	position: absolute;
	text-align: center;
	background-color: #fff;
	border: 5px solid #000;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #888;
	
}
.errorMessage:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -16px;
	top: 12.5px;
	border: 10px solid;
	border-color: transparent #000 transparent transparent;










